<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vitae a Personal Websites Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Vitae Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/Estilos/Index/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Estilos/Index/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen"><!-- chocolate css for gallery light box-->
    <!-- animation -->
    <link href="/Estilos/Index/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <!-- //animation -->
    <link href="/Estilos/Index/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- onlinefonts -->
    <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
    <!-- //onlinefonts -->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- //header -->
    <div class="header jarallax" id="home">
        <div class="container">
            <div class="banner-text text-center">
                <h2>PedidosGO</h2>
                <h3>Pedido Listo, Agradecemos tu preferencia</h3>
                <div class="w3l-button banner-btn">
                    @Html.ActionLink("Menu Principal", "Index", "Home")
                    </div>
                </div>
            </div>
        </div>

    <!-- footer -->
    <div class="agileits_w3layouts-footer text-center">
        <div class="container">
            <p>2018 PedidosGO</p>
        </div>
    </div>


</body>
</html>